<template>
    <h2 class="title-font d-flex justify-center mb-10">Share your Heaven-ly recipe with us</h2>
    <form class="mb-10">
        <v-container class="w-50">
            <v-row justify="center">
                <v-col cols="12">
                    <v-text-field
                        v-model="newRecipe.name"
                        :rules="nameRules"
                        label="Name"
                        variant="outlined"
                        required
                    ></v-text-field>
                </v-col>

                <v-col cols="12">
                    <v-textarea 
                        v-model="newRecipe.description" 
                        label="Description" 
                        variant="outlined"
                        auto-grow
                    ></v-textarea>
                </v-col>
            </v-row>
            <v-row justify="center">
                <v-col cols="12">
                    <v-file-input
                        v-model="newRecipe.image"
                        label="Recipe image" 
                        variant="outlined"
                    ></v-file-input>
                </v-col>

                <v-col cols="12">
                    <v-combobox
                        v-model="newRecipe.selectedIngredients"
                        clearable
                        chips
                        multiple
                        required
                        label="Ingredients"
                        :items="newRecipe.ingredients.map((ing) => ing.name)"
                        :rules="ingredientRules"
                        variant="outlined"
                    ></v-combobox>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12">
                    <div class="preparation-steps rounded-lg ps-6 pt-3">
                        <h2 class="title-font text-h2 mb-3">Preparation Steps:</h2>
                        <ol class="pb-3">
                            <li v-for="(prepStep, index) in newRecipe.prepSteps" :key="index" class="text-h6 ms-14 mb-2">
                                {{ prepStep.stepDescription }}
                            </li>
                        </ol>
                    </div>
                </v-col>
            </v-row>
            <v-row justify="center">
                <v-col cols="12">
                    <v-textarea 
                        v-model="newRecipe.currentPrepStepText" 
                        label="Preparation Step" 
                        variant="outlined"
                        auto-grow
                    >
                        <template v-slot:prepend-inner>
                            <p class="primary-font">{{ newRecipe.prepSteps.length + 1 }}.</p>
                        </template>

                        <template v-slot:append-inner>
                            <Transition>
                                <v-btn 
                                    v-if="newRecipe.currentPrepStepText != ''" 
                                    color="#252525" 
                                    @click.prevent="addPrepStep"
                                >Add</v-btn>
                            </Transition>
                        </template>
                    </v-textarea>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <Transition>
                        <v-alert 
                            v-if="newRecipe.submitSuccessMessage != '' || newRecipe.submitErrorMessage != ''" 
                            :text="newRecipe.submitSuccessMessage != '' ? newRecipe.submitSuccessMessage : newRecipe.submitErrorMessage" 
                            closable
                            @click.close="clearMessages" 
                            :type="newRecipe.submitSuccessMessage != '' ? 'success' : 'error'"
                        ></v-alert>
                    </Transition>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-btn
                        :loading="newRecipe.isLoading"
                        class="me-4"
                        color="primary"
                        @click="submitNewRecipe"
                    >submit</v-btn>
                </v-col>
            </v-row>
        </v-container>
    </form>
</template>

<script setup>
import { ref } from 'vue';
import { getIngredients, addRecipe, updateRecipeImage } from '@/stores/recipes-store.js'

const newRecipe = ref({
    name: null,
    description: null,
    image: null,
    ingredients: [],
    selectedIngredients: [],
    prepSteps: [],
    currentPrepStepText: '',
    submitSuccessMessage: '',
    submitErrorMessage: '',
    isLoading: false
});

getIngredients({
    onSuccess: (response) => {
        newRecipe.value.ingredients = response.data;
    }, onError: (error) => {
        console.log(error);
    }
});

const submitNewRecipe = () => {
    if (!validateForm()) {
        newRecipe.value.submitErrorMessage = "Please fill out all the necessary fields."
        return;
    }

    newRecipe.value.isLoading = true;
    addRecipe({
        name: newRecipe.value.name,
        description: newRecipe.value.description,
        ingredientDtos: newRecipe.value.ingredients.filter(
            (ing) => newRecipe.value.selectedIngredients.includes(ing.name)
        ),
        prepStepDtos: newRecipe.value.prepSteps
    }, {
        onSuccess: (response) => {
            if (newRecipe.value.image == null) {
                initNewRecipeWithSuccess();
                return;
            }
            const imageData = new FormData();
            imageData.append('image', newRecipe.value.image);
            updateRecipeImage(
                response.data, 
                imageData, {
                    onSuccess: initNewRecipeWithSuccess, 
                    onError: setErrorMessage
                }
            )
        }, onError: setErrorMessage
    });
}

const addPrepStep = () => {
    newRecipe.value.prepSteps.push({
        id: 0,
        stepDescription: newRecipe.value.currentPrepStepText
    });
    newRecipe.value.currentPrepStepText = '';
}

const initNewRecipeWithSuccess = () => newRecipe.value = {
    name: null,
    description: null,
    image: null,
    ingredients: [],
    selectedIngredients: [],
    prepSteps: [],
    currentPrepStepText: '',
    submitSuccessMessage: 'Recipe submitted successfully.',
    submitErrorMessage: '',
    isLoading: false
}

const clearMessages = () => {
    newRecipe.value.submitSuccessMessage = '';
    newRecipe.value.submitErrorMessage = '';
}

const setErrorMessage = () => {
    newRecipe.value.isLoading = false;
    newRecipe.value.submitErrorMessage = "There was a problem submitting the recipe. Please try again."
}

const checkIngredients = (selectedIngredients) => {
    let error_message = "";
    selectedIngredients.forEach(ingName => {
        if (newRecipe.value.ingredients.find((ing) => ing.name == ingName) == undefined) {
            error_message = 'Only ingredients from the list are available.';
            return;
        }
    });
    return error_message;
}

const nameRules = [
    value => {
        if (value) return true

        return 'Name is required.'
    }
];

const ingredientRules = [
    value => {
        if (value.length == 0 && newRecipe.value.submitSuccessMessage == '') {
            return 'Ingredients are required.';
        }

        let error_message = checkIngredients(newRecipe.value.selectedIngredients);

        return error_message != "" ? error_message : true;
    }
];

const validateForm = () => {
    return !(
        newRecipe.value.name == "" || 
        newRecipe.value.selectedIngredients.length == 0 || 
        checkIngredients(newRecipe.value.selectedIngredients)
    );
}

</script>

<style scoped>
.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.preparation-steps {
    background-color: #252525; 
    color: white; 
    font-size: 10px;
}
</style>