<template>
    <div class="d-flex flex-column justify-center mb-16">
        <v-card
            flat
            color="surface-variant"
            image="https://hungerbay.com/assets/images/b6.jpg"
            class="welcome-card rounded-xl d-flex align-self-center"
        >
            <v-card-text class="d-flex align-center justify-center">
                <h1 class="welcome-text w-50 ml-10">
                    Welcome to our Heaven on Earth! Only the tastiest of recipes await you down below.
                    Feel free to explore and share your tasty recipes with us.
                </h1>
            </v-card-text>
        </v-card>

        <div v-if="isLoading" class="d-flex justify-center mt-10">
                <v-progress-circular indeterminate :size="60" :width="7"></v-progress-circular>
        </div>
        <div v-else>
            <div  v-if="error_message == ''">
                <div class="d-flex justify-center">
                    <h2 class="title-font recipes-title w-75 py-5">
                        Our latest recipes
                    </h2>
                </div>

                <v-container class="w-75 d-flex align-self-center">
                    <v-row>
                        <v-col v-for="recipe in recipes" :key="recipe.id" md="4" sm="12">
                            <RecipeCard :recipe="recipe"></RecipeCard>
                        </v-col>
                        <v-col v-if="recipes.length == 0">
                            <div class="text-h1 title-font">
                                No recipes available.
                            </div>
                        </v-col>
                    </v-row>
                </v-container>
            </div>
            <div v-else class="title-font text-h2 d-flex flex-column align-center mt-10">
                {{ error_message }}
            </div>
        </div>
    </div>

</template>

<script setup>
import { ref } from 'vue';
import { getRecipes } from '@/stores/recipes-store.js';
import RecipeCard from '@/components/RecipeCard.vue';

const recipes = ref([]);
const isLoading = ref(true);
const error_message = ref("");

getRecipes({
    onSuccess: (response) => {
        isLoading.value = false;
        recipes.value = response.data;
    },
    onError: () => {
        isLoading.value = false;
        error_message.value = "There was a problem loading recipes."
    }
});
</script>

<style scoped>
.welcome-card {
    width: 75%;
    height: 600px;
}

.welcome-text {
    font-family: "Lobster Two", sans-serif;
    font-size: 3vw;
    font-weight: bold;
}
</style>