<template>
    <div v-if="recipe != null && error_message == ''" class="d-flex flex-column w-50 mx-auto mb-16">
        <v-img 
            v-if="recipe.imageName != null && recipe.imageName != ''" 
            :src="`${api_url}/images/${recipe.imageName}`" 
            class="rounded-t-xl rounded-b-0"
        ></v-img>
        <v-img 
            v-else
            src="@/assets/images/image_not_found.jpg" 
            class="rounded-t-xl rounded-b-0"
        ></v-img>
        <v-card
            class="px-8 rounded-0 details-background"
            color="#252525"
        >
            <v-card-item>
                <v-card-title class="primary-font recipe-title">
                    {{ recipe.name }}
                </v-card-title>
            </v-card-item>

            <v-card-text class="primary-font px-10 details-text">
                {{ recipe.description != null ? recipe.description : 'No description available' }}
            </v-card-text>
        </v-card>
        <div class="details-background rounded-t-0 rounded-b-xl px-8">
            <h2 class="title-font title-text">Ingredients</h2>
            <div>
                <ul v-if="recipe.ingredients.length > 0" class="pl-16 primary-font">
                    <li v-for="ingredient in recipe.ingredients" :key="ingredient.id" class="details-text mb-3">
                        {{ ingredient.name }}
                    </li>
                </ul>
                <div v-else>No ingredients available</div>
            </div>
            <h2 class="title-font title-text">Preparation Steps</h2>
            <div class="pl-16 details-text primary-font mb-10">
                <ol v-if="recipe.prepSteps.length > 0">
                    <li v-for="prepStep in recipe.prepSteps" :key="prepStep.id" class="mb-3">
                        {{ prepStep.stepDescription }}
                    </li>
                </ol>
                <div v-else>No steps available</div>
            </div>
        </div>
    </div>
    <div v-else-if="error_message != ''" class="title-font d-flex flex-column align-center">
        <h2 class="mb-5">{{ error_message }}</h2>
        <v-img src="@/assets/images/sad_face.png" :width="150"></v-img>
    </div>
</template>

<script setup>
import { getRecipeById } from '@/stores/recipes-store.js'
import { useRoute } from 'vue-router'
import { ref } from 'vue';

const recipe = ref(null);
const route = useRoute();
const error_message = ref("");
const api_url = import.meta.env.VITE_API_URL;

getRecipeById(route.params.id, {
    onSuccess: (response) => {
        console.log(response.data);
        recipe.value = response.data;
    },
    onError: (error) => {
        if (error.response.status == 404) {
            error_message.value = "Recipe does not exist."
        }
    }
});
</script>

<style scoped>
.title-text {
    color: white;
}

.recipe-title {
    font-size: 50px;
}

.details-background {
    background-color: #252525;
}

.details-text {
    color: white;
    font-size: 25px;
}
</style>