<template>
    <nav class="d-flex justify-center">
      <div class="w-75 d-flex align-center justify-space-between">
        <h1 class="main-font title-text">RecipeHeaven</h1>
        <div class="actions-font d-flex mt-2">
          <v-btn variant="text" class="mx-5 hidden-md-and-down" to="/" text="Home" size="x-large" rounded="lg"></v-btn>
          <v-btn variant="text" class="mx-5 hidden-md-and-down" to="/add-recipe" text="Add New Recipe" size="x-large" rounded="lg"></v-btn>
          <v-btn variant="text" class="hidden-lg-and-up" size="x-large" icon="mdi-menu" @click.stop="$emit('toggleDrawer')"></v-btn>
        </div>
      </div>
    </nav>
    <v-container fluid>
      <v-divider class="border-opacity-50"></v-divider>
    </v-container>
</template>

<style scoped>
.title-text {
  font-size: 65px;
  font-weight: bold;
}
</style>