<template>
    <v-hover>
        <template v-slot:default="{ isHovering, props }">
            <v-card
                v-ripple
                v-bind="props"
                :color="isHovering ? '#252525' : undefined"
                :class="[ isHovering ? 'cursor-pointer' : 'cursor-default' ]"
                @click.stop="onCardClick(recipe.id)"
                min-height="450px"
                max-height="450px"
            >
                <v-img
                    v-if="recipe.imageName != null && recipe.imageName != ''"
                    height="250px"
                    :src="`${api_url}/images/${recipe.imageName}`"
                    :class="[ isHovering ? 'opacity-70' : 'opacity-100' ]"
                    cover
                ></v-img>
                <v-img
                    v-else
                    height="250"
                    src="@/assets/images/image_not_found.jpg"
                    :class="[ isHovering ? 'opacity-70' : 'opacity-100' ]"
                    cover
                ></v-img>

                <v-card-title>{{ recipe.name }}</v-card-title>

                <v-card-text>
                    <p class="card-text">
                        {{ recipe.description != null ? recipe.description : "No description available" }}
                    </p>
                </v-card-text>
            </v-card>
        </template>
    </v-hover>

</template>

<script setup>
import { useRouter } from 'vue-router'

const api_url = import.meta.env.VITE_API_URL;
const { recipe } = defineProps(['recipe']);
const router = useRouter()

const onCardClick = (id) => router.push(`/recipe/${id}`);

</script>

<style scoped>
.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  white-space: normal;
}
</style>