<template>
  <v-app>
    <NavBar @toggle-drawer="toggleDrawer"></NavBar>
    <v-navigation-drawer v-model="isDrawerOpen" location="right" temporary class="primary-font">
      <v-list nav class="mt-10">
        <v-list-item prepend-icon="mdi-home" link to="/" class="mb-5">Home</v-list-item>
        <v-list-item prepend-icon="mdi-plus" link to="/add-recipe">Add New Recipe</v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script setup>
import NavBar from '@/components/NavBar.vue';
import { ref } from 'vue';

const isDrawerOpen = ref(false);

const toggleDrawer = () => isDrawerOpen.value = !isDrawerOpen.value;

</script>

<style>
.primary-font {
    font-family: "Signika Negative", sans-serif;
}

.main-font {
  font-family: "Lobster Two", sans-serif;
}

.title-font {
  font-family: "Caveat", sans-serif;
  font-size: 60px;
}
</style>